body {
  background: #22313A;
  color: #d4cbcb;
  font-size: 12px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.black-background {
  background: #22313A;
  color: #FFF;
}

.font-bold {
  font-weight: bold;
}

.border-bottom-0 {
  border-bottom: 0;
}

.dream-btn {
  position: relative;
  z-index: 1;
  min-width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 3ox 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-image: -webkit-linear-gradient(left, #21d397 0%, #7450fe 51%, #21d397 100%);
  background-image: linear-gradient(to right, #21d397 0%, #7450fe 51%, #21d397 100%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 0;
}

.color-green {
  color: #8bc040 !important;
}

.color-red {
  color: #de5f66 !important;
}

.excoin-color-light {
  color: #d4cbcb !important;
}

.excoin-label-secondary {
  color: #8288ff !important;
}

.excoin-label-primary {
  color: #c2c2c2 !important;
}

.margin-top-5 {
  margin-top: 5px;
}

.excoin-padding-20 {
  padding: 10px 20px !important;
}

.font-italic {
  font-style: italic;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control:focus {
  border-bottom: 1px solid #FFF;
  background: transparent;
  outline: 0;
}

.form-control option {
  color: #222222;
}

.input-sm {
  height: 22px;
  line-height: 1.5;
  font-size: 12px;
}

.select-sm {
  height: 200px;
  line-height: 1.5;
  font-size: 12px;
  color: #b4bfc3;
}

.Select-control {
  border-color: transparent;
  background-color: transparent !important;
  border-bottom: 1px solid #31424b;
}
